<header>
    <nav class="header-nav">
        <a class="header-title" href="/">e-Library</a>
        <ul>
            <li><a href="/books">BOOKS</a></li>
            <li><a href="/authors">AUTHORS</a></li>
            <li><a href="/books/new">ADD BOOK</a></li>
            <li><a href="/authors/new">ADD AUTHOR</a></li>
           
        </ul>
    </nav>
</header>